# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\lucas\GoogleDrive\PUC\CURSOS\2020-2\TPD\30_Lucas_Alvarez\code\new_arm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
